[access "refs/*"]
	owner = group user/Sriram Ganesan (elricL)
[access "refs/for/refs/*"]
	read = group user/Sriram Ganesan (elricL)
	push = group user/Sriram Ganesan (elricL)
	label-Code-Review = -2..+2 group user/Sriram Ganesan (elricL)
	label-Verified = -1..+1 group user/Sriram Ganesan (elricL)
	rebase = group user/Sriram Ganesan (elricL)
	removeReviewer = group user/Sriram Ganesan (elricL)
	submit = group user/Sriram Ganesan (elricL)
[access "refs/heads/*"]
	read = group user/Sriram Ganesan (elricL)
	create = group user/Sriram Ganesan (elricL)
	push = +force group user/Sriram Ganesan (elricL)
	pushMerge = group user/Sriram Ganesan (elricL)
[access "refs/tags/*"]
	push = +force group user/Sriram Ganesan (elricL)
	pushTag = group user/Sriram Ganesan (elricL)
	pushSignedTag = group user/Sriram Ganesan (elricL)
